
/*
       By Mariano Rico s2104591
	   Some content from Shekhar Kalra
             

*/
        .yearsudy{
            color:green;
        }


       .smallfont{
            font-size: 0.7em;
       }

       .bluefont{
            color:blue;
       }

       body {
           margin: 15px 10px 10px 80px;        
        }

		
		.email {
			color:#0f0;
		}
		
		.score{
			color: darkblue;
		}	
		


        .top {
            grid-area: top;
            background-color: navy;
			padding: 1%;
            color: #fff;
			
			
        }


        .contentm {
            grid-area: contentm;
			position: relative;
             
            background-color: lightgray;
			padding: 5%;
        }



        .contenta {
            grid-area: contenta;
			position: relative;
             
            background-color: lightgrey;
			padding: 5%;
        }
		
        .contentb {
            grid-area: contentb;
			position: relative;
             
            background-color: lightgrey;
			padding: 5%;
        }
		
 

        .nav {
            grid-area: nav;
            background-color: papayawhip;
			padding: 2%;
			color: #000;
        }

        .footer {
            grid-area: footer;
            background-color: gray;
			padding: 2%;
			color: #000;
        }

        

		.title{
			color: white;
			margin-left: 20%;
			font-size: 1.5em;
			
		}
			



       .wrappermain {
            display: grid;
            grid-gap: 2px;
            grid-template-columns: 35% 35% 30%;
            grid-template-rows: 17% 75% 10%;
            grid-template-areas:
                "top  top  top"
                "contentm contentm nav"
                "footer  footer  footer";
            background-color: #fff;
            color: #000;

            
            position: absolute;
            width: 80%;
            height: 90%;
            
        }


 

        .wrapper {
            display: grid;
            grid-gap: 2px;
            grid-template-columns: 35% 35% 30%;
            grid-template-rows: 17% 75% 10%;
            grid-template-areas:
                "top  top  top"
                "contenta contentb nav"
                "footer  footer  footer";
            background-color: #fff;
            color: #000;

            
            position: absolute;
            width: 80%;
            height: 90%;
            
        }


        .boxa {
            
            color: #000;
            border-radius: 5px;
			font-size: 120%;
            
            /* 
            padding: 80px 400px 80px 400px;

            */
            
        }
		

       .boxb {
            
            color: #000;
            border-radius: 5px;
			font-size: 80%;
            
            /* 
            padding: 80px 400px 80px 400px;

            */
            
        }
		
		
		.boxc {
            
            color: #fff;
            border-radius: 5px;
			font-size: 80%;
            
            /* 
            padding: 80px 400px 80px 400px;

            */
            
        }


		
		
		/*
	    #regform .error{
			color: red;
			font-size: 12px;
			margin-left: 0px;
			
		}
		*/

		.error{
			color: red;
			font-size: 15px;
			margin-left: 0px;
			
		}

		#contactdetails a{
			font-size:0.7em;
			color:yellow;

			display:block; 
			margin-left:180px"

		}

		
		

		.label {
			float: left;
			width: 200px;
			font-size:1em;
		}
		

		#gifregister{
           float: right;
		}

